.App {
  text-align: center;
}
.photoTag {
  display: inline;
  float:left;
  font-weight: bold;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 11px;
  background-color: gainsboro;
}
.listPhoto {
  width: 100%;
}
.photoTitle {
  font-weight: bold;
  font-size: large;
}
.photoImageContainer {
  float:left;
  width: 210px;
}
.photoImage {
  max-width: 200px;
  height: auto;
}
.photoDetails {
  font-size: 13px;
  text-align: center;
}
.photoDate {
  text-align: center;
}
.largePhoto {
  top: 30%;
  left: 5%;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  text-align: center;
}
.largePhotoContainer {
  background-color: white;
  width: 100%;
  border-style: none;
}
.hidden {
  display: none;
}